@model IEnumerable<ETez.Models.Ogrenci>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_OgretmenLayout.cshtml";
}

<div class="col-lg-12 mt-5">
    <br />
    <div class="card">
        <div class="card-body">
            <h4 class="fc-header-title">Öğrenciler</h4>
            <br />
            <div class="table-responsive">
                <table class="table text-center">
                    <thead class="text-uppercase bg-primary">
                        <tr class="text-white">
                            <th scope="col">Adı</th>
                            <th scope="col">Okul No</th>
                            <th scope="col">Tez Adı</th>
                            <th scope="col">Tez Konusu</th>
                            <th scope="col">Bitiş Tarihi</th>
                            <th scope="col">Tez Dosyası</th>

                            <th scope="col">Onay</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model) {
                            <tr>
                                <td>@Html.Raw(item.Adi + " " + item.Soyadi)</td>
                                <td>@item.OkulNo</td>
                                <td>@item.TezAdi</td>
                                <td>@item.TezKonusu</td>
                                <td>@item.BitisTarihi.ToString("yyyy-MM-dd")</td>
                                <td>@item.DosyaYolu</td>
                                @*@if(!item.Onay){<td><a href="/Ogretmen/TezOnayla/@item.Id" type="submit" class="btn btn-primary">Onay</a></td>}
                                    else {<td>TRUE</td> }*@
                                <td><a href="/Ogretmen/TezOnayla/@item.Id" type="submit" class="btn btn-primary">Onay</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>